node_modules
npm-debug.log
yarn-error.log

.DS_Store
.vscode
.idea
*.log
*.md
*.yml
*.tsbuildinfo
.nyc_output
coverage
dist
.git
.gitignore
.prettierrc
.prettierignore
Dockerfile
logs
*.log
**/*.log
.github
.gitlab
README.md
LICENSE
__http__
